*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}
.section-p1{
    padding: 40px 80px;
}
body {
    background-image: url('gym.jpg');
    font-family: 'Bebas Neue', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    /* background-color: black; */
}
#navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
#navbar h1{
    font-size: 35px;
    color: #ffa000;
}
#right{
    display: flex;
    text-decoration: none;
}
#right li{
    padding: 0px 37px;
    list-style: none;
    font-size: 24px;
    letter-spacing: 4;
}
#right li a{
    text-decoration: none;
    color: white;
}
#right li a:hover{
    transition: ease-in-out 0.3s;
    color: black;
    padding: 20px 18px;
    background-image: linear-gradient(74deg, #fbb034 0%, #ffdd00 74%);
}
/* container */
#container{
    display: flex;
    flex-direction: column;
    font-size: 25px;
}
#b-box{
    position: absolute;
    padding: 21px 9px;
}
#container h1{
    padding: 10px;
    color: #ffa000;
}
.form{
    font-family: 'Poppins',sans-serif;
    padding: 10px 10px;
}
.form input{
    padding: 15px 6px;
    font-size: 15px;
    border: 0px solid white;
    border-radius: 2px;
    text-align: center;
    font-weight: 100;
    width: 97%;
}
#slogan{
    display: flex;
    position: absolute;
    margin-left: 125vh;
    font-size: 6.5rem;
    opacity: 6%;
}
button{
    margin: 7px;
    padding: 16px 20.4vh;
    color: black;
    background-color: #ffa000;
    font-size: 20px;
    transition: ease-out 0.3s;
    width: 96%;
}
button:hover{
    background-color: white;
}
@media only screen and (max-width:768px){
    body {
    background-image: url(gym.jpg);
    width: 79rem;
    height: 38rem;
    background-position: center;
    }
    #container{
        display: flex;
        flex-direction: column;
        font-size: 26px;
    }
    #b-box{
        position: absolute;
        padding-top: 74;
    }
    .form input{
        padding: 15px 6px;
        font-size: 15px;
        border: 0px solid white;
        border-radius: 2px;
        text-align: center;
        font-weight: 100;
        width: 97%;
    }
    #slogan{
        display: flex;
        position: absolute;
        margin-left: 125vh;
        font-size: 6.5rem;
        opacity: 6%;
    }
}